# Getting Started

## Installation

```bash
uv add {{ package_name }}
```

## Usage

```python
from {{ module_name }} import hello

print(hello())
# Output: Hello from {{ package_name }}!
```

## Development

```bash
git clone https://github.com/{{ org }}/{{ package_name }}.git
cd {{ package_name }}
make install
make check
```
